.overlay{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupp{
    background-color: white;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popupp p {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: red;
}